body {
  background-color: MidnightBlue;
}
hr{
  margin-top: 50px;
}
.title {
  font-family: georgia;
  font-size: 60px;
  color: white;
  width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.todo_header{
  text-align: center;
  font-family: georgia;
  font-size: 30px;
  color: white;
}
table {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-top: 22px;
    border-spacing: 10px;
    background-color: black;
    font-family: sans-serif;
}
.to_do {
  font-family: sans-serif;
  text-align: center;
  border: 2px solid;
  background-color: white;
  font-size: 25px;
}
}
.row {
    margin-top: 20px;
    height: 40px;
}
.priority_button {
    width: 40px;
    text-align: center;
    background-color: white;
    border: 2px solid;
}
.priority_button:hover {
    background-color: yellow;
}
.complete_button {
    align: left;
    width: 40px;
    text-align: center;
    background-color: LimeGreen;
    border: 2px solid;
}
.complete_button:hover {
    background-color: MidnightBlue;
}
.remove_button {
    align: left;
    width: 40px;
    text-align: center;
    background-color: red;
    border: 2px solid;
}
.remove_button:hover {
    background-color: MidnightBlue;
}
.input {
  text-align: center;
  width: 400px;
  height: 20px;
  font-family: serif;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
}
.user_input {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.button_add {
  width: 100px;
  border-radius:70px;
  font-family: serif;
  font-size: 20px;
}
