body {
  margin: auto;
  padding-top: 10px;
  width: 1224px;
}

h1 {
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 25px;
  letter-spacing: 3px;
  word-spacing: 6px;
  color: #000000;
  font-weight: 800;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  padding-top: 10px;
}

p {
  text-align: center;
  border-radius: 25px;
}

canvas {
  text-align: center;
  border-radius: 25px;

}
